{%url 'products' as products %}

<div class="container">

<header class = "py-3 text-center">
<div class="align-items-center ">
		<h1> <a class="text-dark" href="/products">Deep Learning Outfit Recommender</a> </h1>


</div>
</header>

</div>





<nav class="nav d-flex justify-content-lg-center">
	<a class="p-2 text-muted" href="/products" >All Clothing </a>
	<a class="p-2 text-muted" href="/products/Top">Tops</a>
	<a class="p-2 text-muted" href="/products/Bottom">Bottoms</a>
	<a class="p-2 text-muted" href="/products/Shoe">Shoes</a>

 

</nav>

<div class="jumbotron p-3 p-md-5 rounded text-center">
  <h1 class="jumbotron-heading"></h1>
  <p class="lead text-muted"></p>

</div>

